[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=broad-exception-caught,import-outside-toplevel,too-many-instance-attributes,too-many-arguments,too-many-positional-arguments,too-many-locals,too-many-branches,too-many-statements,too-few-public-methods,no-member

